#Functionnal App env var
REACT_APP_MTGAPI_URL=https://
REACT_APP_EXPRESSAPI=https://
REACT_APP_PUBLIC_URL=https://
REACT_APP_USER_FRIENDLY_URL=

#added to avoid the babel-jest version conflict
SKIP_PREFLIGHT_CHECK=true

#Hiding React source file in the build
GENERATE_SOURCEMAP=false

#SMTP infos
SMTP_NODEMAILER=
SMTP_PORT=
AUTH_USER=
AUTH_PASSWORD=

#shop infos
REACT_APP_SHOP_ID=
REACT_APP_SHOP_NAME=
REACT_APP_SHOP_LOGO_URL=
REACT_APP_SHOP_BASELANG=3
OFFICIAL_SMTP_MAIL_SENDING=test@test.fr

#GOOGLE CAPTCHA
REACT_APP_CLIENTSIDE_RECAPTCHA_KEY=
SERVERSIDE_RECAPTCHA_KEY=

#INTERNET DESCRIPTION
REACT_APP_META_DESCRIPTION=

### GRADING_AREA EU or US
REACT_APP_SHOP_GRADING_AREA=EU

#shopPreference
REACT_APP_MINIMUM_PRICE_TO_CHECK=10
REACT_APP_APP_LANG_ID_DEFAULT=3

#Mail on which the shop want to gets notifications
MAIL_SHOP_SELL_REQUEST_NOTIFICATIONS=

#SECURITY
SHOPKEY=