<h2>Bonjour <%= sellRequest.sellRequest.customer.prenom %>,</h2>
<p>Votre rachat a bien été soumis à notre boutique.</p>
<p>Le numéro de référence est le numéro <%= sellRequest.id %>.</p>
<p>Dès que celui-ci sera traité, vous recevrez une notification par mail.</p>
<p>Merci,</p>
<p><%= user.shop.legalName %></p>
