<h2>Bonjour <%= sellRequest.customer.prenom %>,</h2>
<p>
  Les cartes de votre rachat numéro <%= sellRequest.id %> ont bien été notées
  comme envoyées.
</p>

<p>Dès réception par nos soins, vous serez notifié par mail.</p>

<p>Merci,</p>
<p><%= user.shop.legalName %></p>
