<h2>Bonjour <%= sellRequest.customer.prenom %>,</h2>
<p>
  Les cartes de votre rachat numéro <%= sellRequest.id %> ont bien été reçues
  par l'équipe.
</p>

<p>
  Les cartes vont être prochainement traitées par nos soins. Vous recevrez une
  notification par mail dans les prochains jours.
</p>

<p>Merci,</p>
<p><%= user.shop.legalName %></p>
