<h2>Bonjour <%= user.data.client.prenom %>, et Bienvenue !</h2>
<p>Vous êtes inscrit sur <%= process.env.REACT_APP_USER_FRIENDLY_URL %> !</p>
<p>Vous pouvez désormais créer des demandes de rachat sur le site.</p>
<p>Merci,</p>
<p><%= user.data.client.shop.legalName %></p>
