<h2>Hello <%= user.prenom%>,</h2>
<p>Your sell request n° <%= sellRequest.id %> has been processed !</p>
<p>
  You can connect on your space and check the conditions of our offer.
</p>

<p>Bests,</p>
<p><%= user.shop.legalName %></p>
