<h2>Hello <%= sellRequest.customer.prenom %>,</h2>
<p>Your sell request n° <%= sellRequest.id %> has been processed !</p>
<p>You can connect on your space and check the conditions of our offer.</p>
<p>
  If you agree with the conditions, you can sign the PDF in attached filed and
  mail it to our shop.
</p>

<p>Bests,</p>
<p><%= user.shop.legalName %></p>
