<h2>Hello <%= sellRequest.customer.prenom %>,</h2>
<p>Your sell request has been validated !</p>
<p>Its reference number is the n°<%= sellRequest.id %>.</p>
<p>Bests,</p>
<p><%= user.shop.legalName %></p>
