<h2>Hello <%= sellRequest.customer.prenom %>,</h2>

<p>
  The cards of your sell request n° <%= sellRequest.id %> have been received.
</p>

<p>
  Your cards will be processed by our team in the upcoming days. You will
  receive a notification as soon as it's done.
</p>

<p>Best regards,</p>
<p><%= user.shop.legalName %></p>
