<h2>Hello <%= sellRequest.customer.prenom %>,</h2>
<p>Your sell request n°<%= sellRequest.id %> is now being processed.</p>
<p>
  As soon as the team is done and each card has been checked, you will received
  a notification mail.
</p>
<p>
  You can find all information on the
  <a href="<%=process.env.REACT_APP_PUBLIC_URL %>">website</a>.
</p>
<p>Bests,</p>
<p><%= user.shop.legalName %></p>
