<h2>Hello <%= sellRequest.customer.prenom %>,</h2>
<p>
  The cards of your sell request n° <%= sellRequest.id %> have been marked as
  Sent.
</p>

<p>As soon as our service received it, you will be notified by mail.</p>

<p>Thanks,</p>
<p><%= user.shop.legalName %></p>
