<h2>Hello <%= sellRequest.sellRequest.customer.prenom %>,</h2>
<p>Your sell request has been submitted to our shop.</p>
<p>Its reference number is the n°<%= sellRequest.id %>.</p>
<p>
  As soon as it's being processed by our team, you will be notified by mail.
</p>
<p>Bests,</p>
<p><%= user.shop.legalName %></p>
