<h2>Hello <%= sellRequest.customer.prenom %>,</h2>

<p>
  Your sell request n°<%= sellRequest.id %> has been canceled.
</p>
<p>
  If you have any question, please contact us at : <%= user.shop.email %>
</p>
<p>Bests,</p>
<p><%= user.shop.legalName %></p>
