/**************************
********GENERAL************
**************************/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.display-none {
  display: none;
}

.display-inline-block {
  display: inline-block;
}

p,
ul,
li,
div,
td {
  font-size: 1.6rem;
}

.classic-links {
  text-decoration: none;
  color: black;
}

.classic-links:hover {
  text-decoration: underline;
  cursor: pointer;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

/**************************
********TABLES************
**************************/
table {
  width: 80%;
  margin: auto;
}

.zebra-table tr:nth-child(odd) {
  background-color: grey;
}

.zebra-table tr:hover {
  background-color: hsla(0, 0%, 0%, 0.09);
}

/**************************
*********NAVBAR***********
**************************/

nav {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

nav > .container {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

div.connect {
  display: flex;
}

div.connect p {
  padding-left: 2rem;
}

.my_options {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_options .nav-element {
  margin: 0 1rem;
}

.toggle-menu-container {
  position: relative;
}

.unclick {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toggle-menu {
  margin: 0;
  position: absolute;
  z-index: 2;
  top: 25px;
  width: 140px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.toggle-menu li {
  padding: 1rem;
  text-align: left;
}

.toggle-menu li:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.toggle-menu li:first-child {
  padding: 1rem;
  text-align: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.toggle-menu li:last-child {
  padding: 1rem;
  text-align: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.toggle-menu-links {
  text-decoration: none;
  color: black;
}

.toggle-menu-links:hover {
  color: white;
}

/* Arrow to toggle menu */
.arrow-menu {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  margin-left: 5px;
}

/**************************
********SPLIT LAYOUT*******
**************************/
.content-split {
  display: flex;
  justify-content: space-around;
}

/**************************
********SETLIST*******
**************************/

.setList-table td:hover {
  background-color: grey;
}

.setList-link {
  text-decoration: none;
  color: black;
}

.setList-link:hover {
  color: white;
}

/**************************
********HOMEPAGE*******
**************************/
.last-modification {
  width: 80%;
  background-color: grey;
}

/**************************
********ONESET PAGE*******
**************************/
.add-item-basket {
  cursor: pointer;
}
