/**************************
********GENERAL************
**************************/
* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: coral;
  --main-bg-color-darker: hsl(16, 90%, 66%);
  --main-bg-color-almost: rgba(255, 127, 80, 0.9);
  --main-bg-color-more: rgba(255, 127, 80, 0.7);
  --main-bg-color-medium: rgba(255, 127, 80, 0.5);
  --main-bg-color-weak: rgba(255, 127, 80, 0.3);
  --background-color: #f9f9f9;
  --border-radius-form-field: 8px;
  --back-office-back-color: rgba(173, 216, 230, 0.8);
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

.container-table-responsive {
  max-width: 70%;
  margin: 0 auto;
}

#root {
  background-color: var(--background-color);
}

.center-text {
  text-align: center;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

.display-inline-block {
  display: inline-block;
}

p,
ul,
li,
div,
td {
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.classic-links {
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
  border-radius: 50px;
}

.classic-links:hover {
  background-color: var(--main-bg-color);
  cursor: pointer;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.pointer {
  cursor: pointer;
}

.subInfos {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

h1,
h2 {
  margin-top: 0;
}

#root {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 120px; /* height of the footer */
}

.small-text {
  font-size: 1.2rem;
}

.margin-top-2rem {
  margin-top: 2rem;
}

.transparent-div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.bold {
  font-weight: bold;
}

.blackDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0);
  opacity: 0.5;
  animation: blackDivAppearing 0.5s;
}
@keyframes blackDivAppearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.loading-loop {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
}
.loading-loop:after {
  content: " ";
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0;
  border-radius: 50%;
  border: 3px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1000px) {
  #root {
    padding-bottom: 220px;
    min-height: 1000px;
  }
  .container-table-responsive {
    max-width: 100%;
  }

  .loading-loop {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
  }
  .loading-loop:after {
    content: " ";
    display: block;
    width: 1rem;
    height: 1rem;
    margin: 0;
    border-radius: 50%;
    border: 2px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
@media only screen and (max-width: 850px) {
  #root {
    padding-bottom: 320px;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    max-width: 95%;
    width: 95%;
  }
}

@media only screen and (max-width: 640px) {
  .loading-loop {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
  }
  .loading-loop:after {
    content: " ";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    border-radius: 50%;
    border: 4px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

/**************************
********ICONS************
**************************/

.featherIcon {
  color: black;
}

.downsize-icon {
  margin-bottom: -5px;
}

/**************************
********LOADERS************
**************************/

.one-line-loader {
  margin-bottom: -7px;
}

.margin-top-negative-loader {
  margin-top: 5px;
  margin-left: 0;
  text-align: left;
}
.lds-roller {
  margin-top: -15px;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**************************
********TABLES************
**************************/
table {
  width: 80%;
  margin: auto;
}

.zebra-table tbody tr:nth-child(odd) {
  background-color: hsla(0, 0%, 0%, 0.09);
}

.zebra-table tbody tr:hover {
  background-color: var(--main-bg-color);
}

.zebra-table tbody tr.total-line {
  background-color: transparent;
}
.zebra-table tbody tr.total-line:hover {
  background-color: transparent;
}

@media only screen and (max-width: 850px) {
  .zebra-table {
    margin: 0 auto;
  }
}

/**************************
*********NAVBAR***********
**************************/

nav {
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

nav > .container {
  display: flex;
  justify-content: space-between;
}

.responsive_menu ul,
ul.toggle-menu {
  list-style-type: none;
  padding: 0;
}

div.connect {
  display: flex;
}

div.connect p {
  padding-left: 2rem;
}

.burger-menu {
  display: none;
}

.my_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop_menu_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_options .nav-element {
  margin: 0 1rem;
}

.toggle-menu-container {
  position: relative;
}

.unclick {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toggle-menu {
  margin: 0;
  position: absolute;
  z-index: 2;
  top: 25px;
  width: 140px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.toggle-menu li {
  padding: 1rem;
  text-align: left;
  cursor: pointer;
}

.toggle-menu li:hover {
  color: white;
  background-color: var(--main-bg-color-medium);
}

.toggle-menu a:first-child li {
  padding: 1rem;
  text-align: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.toggle-menu > li:last-child {
  padding: 1rem;
  text-align: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.toggle-menu-links {
  text-decoration: none;
  color: black;
}

.toggle-menu-links:hover {
  color: white;
}

.logo-shop-link {
  margin-right: 30px;
}

.logo-shop-link:hover {
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  background-color: white;
}

.navbar input[type="search"] {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.margin-bottom {
  margin-bottom: 7rem;
}

.current-app-lang {
  position: relative;
  width: 40px;
  outline: none;
}

.current-app-lang img {
  border-radius: 3px;
  outline: none;
}

.current-lang-flag {
  position: absolute;
  top: 22px;
  cursor: pointer;
  padding-right: 1rem;
}

.arrow-app-lang {
  position: absolute;
  right: 0px;
  top: 8px;
}

div.lang-select-applevel {
  width: 35px;
  right: 12px;
  left: -5px;
  outline: none;
}

/* Arrow to toggle menu */
.arrow-menu {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  margin-left: 5px;
}

/* Responsive options for Menu */

.responsive_menu {
  position: fixed;
  top: 8rem;
  bottom: 0;
  height: 45vh;
  width: 30vw;
  right: 0;
  background-color: white;
  z-index: 5;
}

.authenticated-menu {
  height: 70vh;
}

.divider {
  display: block;
  width: 65%;
  margin: auto;
}

.classic_links_responsive {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  padding: 3rem 0;
  margin-left: 0;
}

.burgerMenuCustomer-select-lang {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  div.connect {
    display: none;
  }
  .not-connected-options {
    display: flex;
    align-items: center;
  }
  .burger-menu {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 30px;
    margin-right: 35px;
  }

  .burger-menu img {
    width: 40px;
  }
  .responsive-basket-quantity {
    position: absolute;
    bottom: -4px;
    right: -7px;
    background-color: red;
    border-radius: 50%;
    width: 20px;
  }

  .desktop_menu_options {
    display: none;
  }

  .surname_responsive {
    margin: 1rem;
    font-size: 4rem;
  }
  .responsive_menu {
    border-radius: 5px;
    animation-duration: 0.25s;
    animation-name: slidein1000;
  }
}
@media only screen and (max-width: 850px) {
  .responsive_menu {
    width: 40vw;
  }
  .responsive_menu {
    animation-duration: 0.25s;
    animation-name: slidein850;
  }
}
@media only screen and (max-width: 750px) {
  .responsive_menu {
    animation-duration: 0.25s;
    animation-name: slidein750;
  }
}
@media only screen and (max-width: 650px) {
  .big-screen-info {
    display: none;
  }

  .responsive_menu {
    animation-duration: 0.25s;
    animation-name: slidein650;
  }
}
@media only screen and (max-width: 550px) {
  .responsive_menu {
    width: 50vw;
  }
  .responsive_menu {
    animation-duration: 0.25s;
    animation-name: slidein550;
  }
}
@media only screen and (max-width: 500px) {
  .responsive_menu {
    width: 60vw;
    animation-duration: 0.25s;
    animation-name: slidein500;
  }
  .margin-bottom {
    margin-bottom: 9rem;
  }
}
@media only screen and (max-width: 450px) {
  .responsive_menu {
    animation-duration: 0.25s;
    animation-name: slidein500;
    height: 55vh;
  }
}

@keyframes slidein1000 {
  from {
    right: -500%;
  }

  to {
    right: 0%;
  }
}
@keyframes slidein850 {
  from {
    right: -500%;
  }

  to {
    right: 0%;
  }
}
@keyframes slidein750 {
  from {
    right: -500%;
  }

  to {
    right: 0;
  }
}
@keyframes slidein650 {
  from {
    right: -500%;
  }

  to {
    right: 0;
  }
}
@keyframes slidein550 {
  from {
    right: -500%;
  }

  to {
    right: 0;
  }
}
@keyframes slidein500 {
  from {
    right: -500%;
  }

  to {
    right: 0;
  }
}

/**************************
******NAVBAR ADMIN*********
**************************/
.navbar-admin {
  background-color: orange;
}

.menu-links-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.classic_links_responsive_admin {
  padding: 2rem 0;
}

@media only screen and (max-width: 1000px) {
  .options_desktop {
    display: none;
  }

  .responsive_menu_admin {
    height: 80vh;
  }
}
@media only screen and (max-width: 500px) {
  .responsive_menu_admin {
    height: 90vh;
  }
}

/**************************
**NAVBAR ADMIN SEARCH BAR**
**************************/
.search-card-form {
  position: relative;
  padding: 0.5rem;
}

.search-card-form input {
  padding: 0.5rem;
  border-radius: 5px;
  width: 160px;
  border: none;
  outline: none;
}

.search-card-form .search-result {
  position: absolute;
  top: 2.7rem;
  width: 100%;
  box-shadow: 1px 5px 5px black;
  border-radius: 5px;
  left: 0.5rem;
}

.search-card-form .search-result a {
  text-decoration: none;
}

.search-card-form .search-result .card-line-result {
  padding: 1rem 0;
  background-color: white;
}

.search-card-form .search-result a:first-child .card-line-result {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.search-card-form .search-result a:last-child .card-line-result {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-card-form .search-result .card-line-result-text {
  color: black;
}

.search-card-form .search-result .card-line-result:hover {
  background-color: var(--main-bg-color);
}
/**************************
*********FOOTER***********
**************************/

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  border-top: 1px solid lightgrey;
  z-index: 1;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  .footer {
    height: 200px;
  }
}
@media only screen and (max-width: 850px) {
  .footer {
    height: 300px;
  }
  .footer-container {
    flex-direction: column;
  }
}

/**************************
********SPLIT LAYOUT*******
**************************/
.content-split {
  display: flex;
  justify-content: space-around;
}

.left-div {
  width: 300px;
}

@media only screen and (max-width: 850px) {
  .content-split {
    flex-direction: column;
  }
  .left-div {
    order: 2;
  }
  .last-modification {
    order: 1;
    margin: 0 auto;
  }
}

/**************************
********SETLIST*******
**************************/

.setList-table td:hover {
  background-color: var(--main-bg-color);
}

.setList-link {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

.setList-table td {
  border-radius: 50px;
}

.setList-link:hover {
  color: white;
}

.setList-table {
  text-align: left;
}

.setList-table td > a {
  display: block;
}

input[type="search"] {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/**************************
*****LAST MODIFICATIONS****
**************************/
.last-modification {
  width: 80%;
}

.last-modification .all-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.last-modification .card {
  cursor: pointer;
  margin-top: 10px;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  width: 350px;
  border-radius: 5px;
}

.last-modification .card a {
  display: block;
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: var(--main-bg-color);
  border-radius: 50px;
  color: black;
  text-decoration: none;
}

.last-modification .card:hover a {
  color: white;
}
.last-modification .card img {
  transform: scale(1);
}
.last-modification .card:hover img {
  transition: transform 1s ease;
  transform: scale(1.1);
}

.last-modification .card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.last-modification .card .card-infos {
  margin-left: 30px;
  width: 150px;
}

.last-modification .card .card-infos .card-title {
  font-size: 2rem;
  margin-bottom: 15px;
}

.last-modification .card .card-picture {
  width: 250px;
}

/**************************
********ONE SET PAGE*******
**************************/

.set-top-line {
  position: relative;
}

.set-top-line > div {
  margin: 0;
  position: absolute;
  right: 25px;
  top: 8px;
  padding: 0.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.4rem;
  border-radius: 10px;
  cursor: pointer;
}

.set-top-line > div:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.set-top-line div:hover .arrow-menu {
  color: white;
}
.set-top-line div span {
  position: absolute;
  top: 12px;
  right: 2px;
}
.AddButton {
  position: relative;
}

.add-item-basket {
  cursor: pointer;
}

.cardPictureHolder {
  position: relative;
}

.cardPictureOnHoverTop {
  position: absolute;
  top: -220px;
  z-index: 2;
}

.cardPictureOnHoverBottom {
  position: absolute;
  top: 60px;
  z-index: 2;
}

.set-lang-choosing {
  position: absolute;
  top: 28px;
  right: 8px;
  left: 0;
  box-shadow: 1px 1px 1px black;
  z-index: 2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.set-lang-choosing .flag-drop-down:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.flag-drop-down {
  cursor: pointer;
  padding: 3px;
  background-color: var(--background-color);
}

div.blockFlags {
  display: block;
  position: relative;
  margin: -25px auto 15px;
  width: 35px;
  padding-right: 0.5rem;
  right: 0;
}

.flagsDropDownMobileLongName {
  right: 0;
}

div.blockFlags span.blockArrow {
  right: -10px;
}

div.blockFlags {
  display: block;
  position: relative;
  margin: -25px auto 15px;
  width: 35px;
  padding-right: 0.5rem;
  right: 0;
}

.flagsDropDownMobileLongName {
  right: 0;
}

div.blockFlags span.blockArrow {
  right: -10px;
}

.filter-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-cards p {
  margin-right: 10px;
}

.filter-cards input {
  height: 1.6rem;
  padding: 1rem 0.5rem;
  border-radius: 5px;
}

.noCSPMessage {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 850px) {
  .cardPictureHolder {
    padding: 0.5rem;
  }

  .AddButton {
    height: 60px;
    width: 40px;
    margin: 0;
    padding: 1rem;
  }

  /* Button adding/removing */
  .add-item-basket,
  .remove-item-basket {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 750px) {
  div.blockFlags {
    margin: -15px auto 15px;
  }
}
@media only screen and (max-width: 500px) {
  div.blockFlags {
    margin: -5px auto 15px;
  }
  .set-top-line {
    display: flex;
    flex-direction: column;
  }

  .set-top-line > h1 {
    margin-bottom: 5px;
  }

  .set-top-line > div {
    position: relative;
  }
}

/**************************
********SELLING BASKET*******
**************************/

.delete-from-selling-basket {
  cursor: pointer;
}

.all-content {
  display: flex;
  justify-content: space-around;
}

.all-content > .right-content {
  max-width: 30%;
  flex-grow: 1;
}

.all-content > .left-content {
  flex-grow: 1;
}

.all-content > .main-content {
  flex-grow: 3;
}

.sellRequest-validation-block {
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  background-color: hsla(0, 0%, 0%, 0.09);
}

.sellRequest-validation-block input {
  margin-right: 10px;
}

.sellRequest-validation-button {
  display: block;
  margin: 1rem auto;
  padding: 1rem;
}

.error-line {
  background-color: red !important;
}

@media only screen and (max-width: 1200px) {
  .all-content {
    flex-direction: column;
    align-items: center;
  }
  .all-content > .right-content {
    max-width: 60%;
  }
}

@media only screen and (max-width: 700px) {
  .all-content > .right-content {
    max-width: 80%;
  }
}

/**************************
********MY ACCOUNT*******
**************************/
.my-account input,
.my-account textarea {
  margin: 0.5rem auto;
  display: block;
  border-radius: var(--border-radius-form-field);
  border: 1px solid lightgrey;
  padding: 1.8rem;
  font-size: 2rem;
  text-align: center;
  width: 30%;
}

.my-account button {
  margin-top: 2rem;
}

@media only screen and (max-width: 1000px) {
  .my-account input,
  .my-account textarea {
    width: 80%;
  }
}

/**************************
*****ONE SELL REQUEST******
**************************/
.sellRequest-infos {
  display: flex;
  justify-content: space-around;
}

.sellRequest-status,
.sellRequest-lastDate {
  text-transform: uppercase;
  text-align: left;
}

.sellRequest-sending-button {
  margin: auto;
  cursor: pointer;
  margin-top: 3rem;
  padding: 2rem;
  width: 100px;
  background-color: var(--main-bg-color-more);
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  text-transform: uppercase;
}

.sellRequest-sending-button:hover {
  background-color: var(--main-bg-color);
}

.sellRequest-sending-button:active {
  box-shadow: -1px -1px 1px black;
}

/**************************
*****ALL MY SELL REQUEST******
**************************/

.sellRequest-table-link {
  display: block;
  color: black;
  text-decoration: none;
  text-align: center;
}

.sellRequest-table-link td {
}

.under-table-total {
  display: block;
  margin-top: 0.5rem;
  text-align: center;
}

/**************************
*********MODALS**********
**************************/
tbody.cardLineShop {
  position: relative;
}

.edition-modal {
  position: absolute;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  height: 200px;
  width: 200px;
  background-color: white;
}

.edition-modal-loader {
  margin-top: 4rem;
}

.edition-modal > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edition-modal-centering {
  width: 80%;
  margin: auto;
}
.edition-modal p {
  text-align: center;
  max-width: 80%;
  margin: 1rem auto;
}

.blackSheet {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.card-modal {
  position: fixed;
  top: 300px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
}

.MKM-connection-modal {
  position: fixed;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 25%;
  padding: 6rem;
  /* background-color: var(--background-color); */
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 3px black;
  z-index: 2;
}

.mkm-modal-container {
  padding: 0 25rem;
}

.MKM-connection-modal > div h2 {
  margin-bottom: 4rem;
}

.MKM-rule {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-bottom: 3rem;
}

.MKM-rule p {
  margin: 0;
  text-align: left;
}

.MKM-connection-modal > div .styled-ol-number {
  font-size: 2rem;
  margin-right: 10px;
}

.MKM-connection-modal .mkm_link_auth {
  width: 300px;
  padding: 1rem;
  margin: 0 auto;
  cursor: pointer;
  background-color: lightgreen;
  border-radius: 8px;
  box-shadow: 1px 1px 3px black;
  height: 70px;
  overflow: hidden;
}

.MKM-connection-modal > div .syncronization-button {
  width: 300px;
  padding: 1rem;
  margin: 0 auto;
  cursor: pointer;
  background-color: lightgreen;
  border-radius: 8px;
  box-shadow: 1px 1px 3px black;
  height: 70px;
  overflow: hidden;
}

.CSS-Loader-MKM {
}

.MKM-connection-modal > div .syncronization-button:hover {
  background-color: lawngreen;
  color: white;
}
.MKM-connection-modal > div .syncronization-button:active {
  box-shadow: 1px 1px 1px black;
}

.mkm_link_auth {
  margin-top: -10px;
}
.mkm_link_auth a {
  text-decoration: none;
  color: black;
}
.mkm_link_auth a:hover {
  text-decoration: underline;
}

.MKM-connection-modal > div .syncronization-button .sync-symbol {
  display: block;
  margin-top: -10px;
  font-size: 3rem;
}

@media only screen and (max-width: 1200px) {
  .MKM-connection-modal {
    padding: 5rem;
  }
  .mkm-modal-container {
    padding: 0 10rem;
  }
}

@media only screen and (max-width: 1000px) {
  .MKM-connection-modal {
    padding: 5rem;
  }
  .mkm-modal-container {
    padding: 0 10rem;
  }
  .edition-modal p {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 900px) {
  .MKM-connection-modal {
    padding: 4rem;
  }
  .mkm-modal-container {
    padding: 0 8rem;
  }
}
@media only screen and (max-width: 800px) {
  .mkm-modal-container {
    padding: 0rem;
  }
}
@media only screen and (max-width: 700px) {
  .mkm-modal-container {
    padding: 0 5rem;
  }
  .MKM-connection-modal {
    bottom: 20%;
  }
}

@media only screen and (max-width: 600px) {
  .MKM-connection-modal {
    padding: 3rem;
  }
  .mkm-modal-container {
    padding: 0 2rem;
  }
  .MKM-connection-modal {
    bottom: 15%;
  }
}
@media only screen and (max-width: 500px) {
  .MKM-connection-modal > div .syncronization-button {
    width: 250px;
  }
}
@media only screen and (max-width: 400px) {
  .MKM-connection-modal > div .syncronization-button {
    width: 200px;
  }
  .MKM-connection-modal {
    bottom: 10%;
  }
}

/**************************
****SHOP ADMIN ONE CARD****
**************************/

/* <Prices Infos part> */

.one-set {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--back-office-back-color);
  border-radius: 5px;
}

.priceUpdate-cardInfos {
  width: 70%;
  margin: 5rem auto;
}

.shopCardInfoRecap {
  display: flex;
  justify-content: center;
}

.shopCardInfoRecap .allPrices {
  display: flex;
}

.shopCardInfoRecap .allPrices .regularPrices {
  margin: 0 3rem;
}

.regularPrices > div:first-of-type > div > span:last-child,
.foilPrices div:first-of-type > div > span:last-child {
  font-weight: bold;
}

.onePrice {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.25rem;
}

.onePrice div:first-child {
  font-weight: normal;
  width: 190px;
  text-align: left;
}
.onePrice div:last-child {
  width: 50px;
  text-align: right;
}

.picture {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* </Prices Infos part> */

.hrAfterPrices {
  width: 70%;
  margin: auto;
}

.price-update-form {
  display: flex;
  justify-content: center;
}

.form-field-price-update {
  position: relative;
}
.conditionField {
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  left: 0.5rem;
  top: 0.7rem;
}

input.conditionDisplay {
  text-align: right;
  font-size: 1.4rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.regular-cards,
.foil-cards {
  display: flex;
  justify-content: center;
}

.regular-non-signed {
  margin-right: 2rem;
}

.regular-signed {
  margin-right: 2rem;
}

.foil-non-signed {
  margin-right: 2rem;
}

.foil-signed {
}

input.updated {
  background-color: rgba(169, 236, 135, 0.6);
}

.price-update-flag-lang {
  margin-left: 10px;
}

@media only screen and (max-width: 1000px) {
  .price-update-form {
    flex-direction: column;
  }
}

/**************************
SHOP ADMIN ALL SELL REQUEST
**************************/
.paginationContainer {
  display: flex;
  justify-content: center;
}
.paginationContainer nav {
  background-color: transparent;
  box-shadow: none;
}

/**************************
SHOP ADMIN ONE SELL REQUEST
**************************/

.cardLineShop-input-price {
  text-align: center;
  width: 50px;
  height: 20px;
  border-radius: 5px;
}

.SellRequestAction {
  position: absolute;
  right: 20px;
  top: 0;
}

table.zebra-table tbody tr.cardSellingPriceShouldBeCheckedByHuman {
  background-color: orange;
}
table.zebra-table tbody tr.cardSellingPriceShouldBeCheckedByHuman:hover {
  background-color: rgba(255, 165, 0, 0.5);
}

.infoHoverContainer {
  position: relative;
}
.infoHoverContainer:hover svg {
  background-color: rgba(134, 133, 133, 0.7);
}

.infoHover {
  position: absolute;
  display: none;
  background-color: rgba(134, 133, 133, 1);
  border-radius: 5px;
  font-weight: normal;
  font-size: 12px;
}

.infoHoverContainer:hover .infoHover {
  display: block;
}

@media only screen and (max-width: 1000px) {
  .update-set {
    background-color: skyblue;
  }
  .SellRequestAction {
    position: static;
  }
  .shopSellRequestTitle {
    margin-top: 8rem;
  }
}

/**************************
*PDF GENERATION REACT SIDE*
**************************/
.pdf-username-and-firstname {
  font-weight: bold;
}

/**************************
**SHOP ADMIN ONE CUSTOMER**
**************************/

.customer-identity {
  border: 1px solid black;
  margin-bottom: 2rem;
  position: relative;
}

.customer-full-name {
  text-align: left;
  margin: 0;
  margin-left: 0.5rem;
}

span.customer_firstName {
  text-transform: capitalize;
}
span.customer_lastName {
  text-transform: uppercase;
}

.customer-infos {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.customer-infos p {
  text-align: left;
}

@media only screen and (max-width: 1000px) {
  .customer-infos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/**************************
*******SHOP SETTINGS******
**************************/

.percentSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.percentSettings > .percentPerLang,
.percentSettings > .percentPerConditions,
.percentSettings > .percentPerConditionsFoil {
  margin-top: 5rem;
}

.percentPerLang > form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.percentPerLang > form input {
  margin: 0 100px;
}

.percentPerLang > form div:nth-of-type(1) input,
.percentPerLang > form div:nth-of-type(5) input,
.percentPerLang > form div:nth-of-type(9) input {
  margin-left: 120px;
}

.percentSettings .field {
  margin-top: 1rem;
}

.percentSettings label {
  font-size: 2rem;
  text-transform: uppercase;
}
.percentSettings input {
  display: block;
  padding: 1rem;
  margin: 0 auto;
  text-align: right;
  font-size: 2rem;
  width: 100px;
}

.explaination {
  font-size: 1.4rem;
  font-style: italic;
  max-width: 600px;
  margin: 0 auto;
}

.categorySetting {
  background-color: var(--back-office-back-color);
  border-radius: 5px;
  margin-bottom: 3rem;
  padding: 3rem;
}

.categorySetting .categoryTitle {
  text-transform: uppercase;
}

.foilConditionsContainer {
  display: flex;
  justify-content: center;
}

.foilConditionsContainer > div {
  width: 30%;
}

.conditionsSettingsDiv {
  margin-top: 3em;
}

.ShopSettingsConditionsFoilAndNonFoil {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ShopSettingsConditionsFoilAndNonFoil > div {
  margin: 0 3em;
}

.SellingPercentageContainer {
  display: flex;
  justify-content: flex-end;
}

.PercentageInputDivContainer {
  display: flex;
  justify-content: center;
}

.SellingPercentageInput {
  width: 60px;
}

.RangePriceDisplay {
  width: 60%;
  margin: 1rem auto;
  text-align: left;
}

.explaination-container {
  display: flex;
  text-align: left;
}

.explaination-text {
  margin: 0 5rem;
}

.explaination-text-li-number {
  font-weight: bold;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1860px) {
  .percentPerLang > form {
    display: block;
    text-align: center;
  }
  .percentPerLang > form input {
    margin: auto;
  }
  .percentPerLang > form div:nth-of-type(1) input,
  .percentPerLang > form div:nth-of-type(5) input,
  .percentPerLang > form div:nth-of-type(9) input {
    margin-left: auto;
  }
}

/**************************
*********LOGIN PAGE********
**************************/

.login-page {
  height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page > div {
  margin: auto;
  width: 100%;
}

div.connecting-button {
  width: 30%;
  margin: 2rem auto;
}

.connecting-button {
  padding: 1.5rem;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--main-bg-color-almost);
  color: white;
  outline: none;
  cursor: pointer;
}

.connecting-button:hover {
  color: white;
  background-color: var(--main-bg-color);
}

.connecting-button:active {
  background-color: var(--main-bg-color-darker);
}

.login-form input {
  margin: 1rem;
}

.login-form label {
  display: block;
}

.login-form input {
  width: 30%;
  padding: 1.8rem;
  font-size: 2rem;
  border-radius: var(--border-radius-form-field);
  border: 1px solid lightgrey;
  text-align: center;
}

.forgotten-password {
  margin-top: 2rem;
}
.forgotten-password span {
  font-size: 1.2rem;
  color: blue;
  cursor: pointer;
}

.forgotten-password a {
  text-decoration: none;
}
.forgotten-password:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  .field-form input,
  .login-form input,
  .my-account textarea {
    width: 80%;
    font-size: 1.8rem;
  }
  .connecting-button {
    padding: 2rem;
    font-size: 1.4rem;
  }
}

/**************************
*******RESET MAIL PAGE******
**************************/

div.reset-password {
}

form.reset-password-form {
  margin-top: 2rem;
}

form.reset-password-form input {
  margin-top: 2rem;
}
form.reset-password-form button {
  margin-top: 2rem;
}

/**************************
*******REGISTER PAGE*******
**************************/
.RegisterLoader {
  margin-top: 30px;
}

/**************************
*******SETTINGS PAGE*******
**************************/
.settings-language-choice {
  display: flex;
  justify-content: center;
}
.settings-language-choice p {
  margin-right: 20px;
}

.settings-language-choice .current-lang-flag {
  top: 18px;
}

/*****************/
/*****Google******/
/*****************/
div.grecaptcha-badge {
  width: 0px !important;
}
